h2 Contact
p To get in touch with me, send email to <strong>ezrastevens@cloudandtree.com</strong>. You can also message me on <a href="https://www.linkedin.com/in/ezra-stevens-13b1b455/">LinkedIn</a>.

h2 This Site
p The site is built with Elixir with the Plug and Expug libraries. Source hosting and automated builds are provided by GitLab. Prometheus and Grafana handle monitoring and alerting. Caddy performs TLS termination, and would do load balancing if I had more than one server instance. The server itself is running some flavor of Linux. The font is <a href="https://www.theleagueofmoveabletype.com/raleway">Raleway</a>.

h2 Ethics
p I pay a few bucks a month to a hosting service to keep this site up. That&rsquo;s the only financial cost this project has incurred to me. Go back and read the previous paragraph again, keeping in mind that most of te technologies named took thousands of hours to build, and every single one of them is available for free to anyone with an internet connection. None of them are outliers: if every one of this project&rsquo;s direct dependencies disappeared, I could easily make a new list of equivalents&mdash;comparable quality, and just as free.

p I stand on the shoulders of an army of giants. Hacker culture is far, far from perfect, but sometimes I&rsquo;m blown away by its willingness and ability to just <em>provide</em>, for its own sake, for the sake of the community, or for the love of the craft, without recompense. All of this is made possible by two things: infrastructure that brings marginal reproduction and distribution costs of digital goods to near zero, and that software engineers are, by and large, a community of well-educated, well-provided-for people who can afford to build the things that inspire them.

p I want with all my heart for people from all walks of life to experience the privilege of a community that collaborates sincerely and shares freely. I want to use technology to nurture environments where people live their best lives. There are many means to those ends, but if your enterprise is in infrastructure, ecology, or community welfare, I&rsquo;d especially be delighted to hear from you. If your work has primarily military, rent-seeking, or surveillance-capitalist applications, I&rsquo;ll likely give the opportunity a pass.
