<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Ezra Stevens</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <nav>
      <%= make_anchor(path, "/", "Introduction") %>
      <br />
      <%= make_anchor(path, "/about", "About") %>
      <hr />
      <%= make_anchor(path, "/metrics", "Metrics") %>
      <hr />
      <em>More things here soon! This is just a preview.</em>
    </nav>
    <main>
      <%= inner_content %>
    </main>
  </body>
</html>
