@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/static/Raleway-VF.ttf") format('truetype');
}

* {
  font-family: 'Raleway', sans-serif;
}

body {
  line-height: 1.6;
  font-size: 16pt;
  color: #101010;
  background: #eff8ef;

  display: flex;
  flex-direction: row;
}

body > nav {
  margin: 3em;
  width: 10em;
}

body > main {
  max-width: 35em;
  margin: 3em auto;
}

h1, h2, h3 {
  line-height: 1.2
}

h2 {
  font-size: 20pt;
}

aside {
  font-size: 14pt;
  background: #f8eff8;
  border: 2pt solid #400060;
  margin: 1em;
  padding: 1em;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

nav a {
  text-decoration: none;
}

a.current-page::before {
  content: "» ";
}
