[Unit]
Description=Personal/professional brochure site for ezrastevens.com; {{ env }} environment.
Wants=network-online.target
After=network-online.target

[Service]
Type=exec
WorkingDirectory=/opt/brochure/current-{{ env }}/brochure
ExecStart=/opt/brochure/current-{{ env }}/brochure/bin/brochure start
User=brochure-{{ env }}
Environment=BROCHURE_INTERFACE={{ interface }} RELEASE_DISTRIBUTION=none

[Install]
WantedBy=multi-user.target
